PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/yaucrm
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:8080



# Google Workspace / Calendar API Credentials
GOOGLE_CLIENT_ID=<Google_Oauth_Client_ID>
GOOGLE_CLIENT_SECRET=<Google_Oauth_Client_Secret>
GOOGLE_REFRESH_TOKEN=<GOOGLE_REFRESH_TOKEN>
GOOGLE_REDIRECT_URI=<Googgle_URL_Redirect_Token>
ADMIN_EMAIL=<admin_email_same_as_generate_refresh_token>

# JustCall Integration Credentials (Swap for Twilio when ready)
JUSTCALL_API_KEY=<Just_Call_Api_Key>
JUSTCALL_API_SECRET=<JustCall_Api_Secret_Key>   
JUSTCALL_PHONE_NUMBER=<Phone_Number>