node_modules/
.env
.env.*
!.env.example
#extra
create_admin.js
reset-reminders.js
test-daily-summary.js
check-db.js
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
#Local file that do not use in the projects
seed.js
migrate_lead_model.js
migrate_fields.js
verify_phase_1b.js
